<!DOCTYPE html>
<html>
  <body style="font-family: Arial, sans-serif">
    <!-- <h2>Your Synapse Password Was Changed</h2> -->
    <p>Hello <%= username %>,</p>
    <p>
      This is a confirmation that your Synapse account password was recently
      changed.
    </p>
    <p>
      If you did not make this change, please reset your password immediately or
      contact support.
    </p>
    <p style="color: #888; font-size: 12px">
      Thank you for helping keep your account secure.
    </p>
  </body>
</html>
